<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
    <title>Film Critic</title>
</head>

<body>
    <h1>Film Critic</h1>
    <nav>
        <a href="/">Movies</a>
        <a href="{% url 'review_create' %}">Create a Review</a>
        <div class="user-info">
            {% if user.is_authenticated %} Welcome, {{ user.username }}
            <a href="{% url 'logout' %}">Signout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </nav>
    {% block content %} {% endblock %}
</body>

</html>