{% extends 'film_critic/base.html' %} {% block content %}
<div class="container" style="margin-top:30px;">
    <div class="row">
        <div class="col-12">
            <h2>{{ user.username }}</h2>
        </div>
        {% for review in reviews %} {% if review.user == user.username %}
        <div class="col-sm-6 col-md-3" style="margin-top:30px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ review.user }}</h5>
                    <p class="card-text">{{ review.description }}</p>
                    <a href="{% url 'review_edit' pk=review.pk %}" class="btn btn-default">Edit</a>
                    <a href="{% url 'review_delete' pk=review.pk %}" class="btn btn-default">Delete</a>
                </div>
            </div>
        </div>
        {% endif %} {% endfor %}
    </div>
</div>
{% endblock %}